html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

body {
  font-family: "Roboto", sans-serif;
  text-align: center;
  background-color: white;
}

header {
  position:absolute;
  top:0;
  left:0;
  right:0;
  width: 100%;
}

/* .container{

} */

.inner_container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left:calc((100vw - 1221px) / 2);
  padding-right:calc((100vw - 1221px) / 2);
  margin-left: 35px;
  margin-right: 35px;
}

.logo {
  width: 178px;
  height: 111px
}

.nav_link{
  display: inline-block;
  vertical-align: top;
}

.icons {
  width: 30px;
  margin: 0px 10px;
  aspect-ratio: 1/1;
}

.intro {
  justify-content:center;
  background-repeat: repeat-y;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-image: url("img/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
}

.rectangleOnBackground {
  background-color: rgba(231, 154, 237, 0.75);
  min-width: 320px;
  width: 30%;
  aspect-ratio: 5/3;
  gap: 0px;
  border-radius: 25px;
  position: relative;
}

.rectangleOnBackground h2 {
  font-family: "Noto Sans";
  font-weight: 900;
  font-size: calc((100vw - 1024px) / (1920 - 1024) * (180 - 160) + 160%);
  height: 38%;
  margin: 0 15px 1.5% 15px;
}

.rectangleOnBackground h3 {
  font-family: "Roboto";
  font-size: calc((100vw - 1024px) / (1920 - 1024) * (100 - 90) + 90%);
  /* font-size: 100%; */
  font-weight: 700;
}

.rectangleOnBackground ul {
  aspect-ratio: 2/1;
  text-align: center;
  list-style-position: inside;
  list-style-type: none;
  margin: 11% 0 0 0;
  padding: 0;
  display: inline-block;
}

.rectangleOnBackground li {
  margin: 0;
  padding: 0;
}

.rectangleOnBackground li a:link,
.rectangleOnBackground li a:visited {
  color: #fdf6fd;
  background-color: #000000;
  text-decoration: none;
  display: inline-block;
  border-radius: 15px;
  padding: 3px 40px;
}

.rectangleOnBackground li a:hover,
.rectangleOnBackground li a:active {
  padding: 10px 75px;
  transition: 0.5s;
  /* i wanna change it to make it glow or smth*/
}

.VideoPlayer{
  background-color: rgba(231, 154, 237, 0.75);
  min-width: 320px;
  width: 30%;
  aspect-ratio: 6/4;
  gap: 0px;
  border-radius: 25px;
  position: relative;
}



h1 {
  font-family: "Noto Sans";
  font-weight: 900;
  font-size: 250%;
  text-align: left;
  padding: 0% 20%;
}

p {
  font-family: "Roboto";
  font-weight: bold;
  font-size: 120%;
  color: #936297;
  text-align: left;
  margin: 0px 20%;
}

@media (min-width: 320px) and (max-width: 1024px) {
  .rectangleOnBackground {
    width: 320px;
    aspect-ratio: 5/3;
  }

  .rectangleOnBackground h2 {
    font-size: 160%;
  }

  .rectangleOnBackground h3 {
    font-size: 90%;
  }
}